/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

h2.title {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-top: 1rem;
}

p {
    font-size: 1rem;
    color: #555;
    text-align: justify;
    margin: 1rem 0;
}

.content {
    margin-left: 250px; /* Adjust content position based on the width of the sidebar */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.image-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

figure {
    margin: 0;
    padding: 0;
    text-align: center;
}

img {
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out; /* Smooth transition for hover */
}

img:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
}

/* Player Navigation Styles */
.player-navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px; /* Mantén este valor o ajústalo según sea necesario */
    height: 100%;
    background-color: #2c3e50;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Permitir desplazamiento si hay muchos botones */
}

.content {
    margin-left: 220px; /* Asegúrate de que este margen no interfiera con la navegación */
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}


.player-button {
    display: block;
    color: #ecf0f1;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1rem;
    margin-bottom: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.player-button:hover {
    background-color: #34495e;
    color: #ecf0f1;
}
img {
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.05);
}
